<nav class="navbar">
    <div>
        <ul class="navbar-list">
            <li class="navbar-weather-time">
                Weather: {{ weatherData.temperature }}°C, {{ weatherData.weather }} in {{ weatherData.city }} |
                Time in Berlin: {{ berlinCurrentTime }}
            </li>
            <li class="navbar-link">
                <a href="/">Rick & Morty Episodes</a>
            </li>
            <li class="navbar-search">
                <form action="/search" method="get">
                    <input class="search-input" type="text" name="id" placeholder="Search...">
                    <button class="search-button" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
