<nav>
    <div>
        <ul>
            <li>
                <a href="/">Rick & Morty Episodes</a>
            </li>
            <li>
                <form action="/search/" method="GET">
                    <input type="text" name="id" placeholder="Enter episode code">
                    <input type="submit" value="Search">
                </form>

            </li>
        </ul>
    </div>
</nav>
